<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zoohigh.oncourse" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/grey_oncourse_logo_bg"
        android:label="OnCourse"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
        <activity android:name=".CourseAddActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecommendationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CourseDetail"
            android:label="@string/title_activity_course_detail"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
